<!DOCTYPE html>
<html lang="{{ site.lang | default: "en" }}">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}" media="screen" type="text/css">
    <link rel="stylesheet" href="{{ '/assets/css/print.css' | relative_url }}" media="print" type="text/css">
    <title>LU Skolprogrammering</title>
  </head>

  <body>
    <!-- Include the menu/navigationbar -->
    {% include navigation.html %}

    <!--Main content wrapper -->
    <div id="content-wrapper">
      <div class="inner-clearfix">
        <section id="main-content">
          <!--Content from .md file will go here -->
          {{ content }}
        </section>
      </div>
      <!-- Add footer. Placed in the content wrapper to get pushed down by main content-->
      <div id="footer" class="page__footer">
        <footer>
          {% include footer.html %}
        </footer>
      </div>
    </div>



  </body>
</html>
