---
layout: default
---
<script type="text/javascript" async
  src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML">
</script>
<link href="https://use.fontawesome.com/releases/v5.0.7/css/all.css" rel="stylesheet">

<style>
.post-header {
  {% if page.cover_image %}
    padding: 10em 2em 2em 2em;
    background: linear-gradient(#FFFFFF00, #FFFFFFAA, #FFFFFFEE),
                url('{{page.cover_image}}');
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center
      {% if page.cover_y_offset %}
        {{ page.cover_y_offset }}
      {% else %}
        center
      {% endif %};
    border-radius: 1em;
  {% endif %}
}
</style>

<article class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title | escape }}</h1>
    {% if page.tags %}
      <small style="text-style: italic">
        <i class="fa fa-tag"></i>
        {{ page.tags | join: ', ' }}
      </small>
    {% endif %}
  </header>

  <div class="post-content">
    {{ content | toc }}
  </div>

</article>
